* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_39 {
  width: 690px;
  height: 416px;
  background: rgba(49,58,83,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_40 {
  width: 46px;
  height: 46px;
  background: url("../images/v3_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 28px;
  overflow: hidden;
}
.v3_41 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_42 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v3_43 {
  width: 26px;
  height: 26px;
  background: url("../images/v3_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 23px;
  overflow: hidden;
}
.v3_44 {
  width: 26px;
  height: 21px;
  background: rgba(60,234,170,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v3_45 {
  width: 21px;
  height: 26px;
  background: rgba(3,188,228,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v3_46 {
  width: 5px;
  height: 5px;
  background: rgba(4,121,146,1);
  opacity: 0.949999988079071;
  position: absolute;
  top: 11px;
  left: 4px;
  overflow: hidden;
}
.v3_47 {
  width: 5px;
  height: 5px;
  background: rgba(26,171,202,1);
  opacity: 0.949999988079071;
  position: absolute;
  top: 14px;
  left: 0px;
  overflow: hidden;
}
.v3_48 {
  width: 5px;
  height: 5px;
  background: rgba(60,234,170,1);
  opacity: 0.949999988079071;
  position: absolute;
  top: 11px;
  left: 3px;
  overflow: hidden;
}
.v3_49 {
  width: 5px;
  height: 5px;
  background: rgba(26,171,202,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 29px;
  left: 0px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v3_50 {
  width: 199px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 79px;
}
.v3_51 {
  width: 201px;
  height: 50px;
  background: url("../images/v3_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 462px;
  overflow: hidden;
}
.v3_52 {
  width: 88px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 33px;
  left: 0px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_53 {
  width: 81px;
  color: rgba(255,206,110,1);
  position: absolute;
  top: 33px;
  left: 120px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_54 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_55 {
  width: 81px;
  color: rgba(255,206,110,1);
  position: absolute;
  top: 0px;
  left: 120px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_57 {
  width: 596px;
  height: 32px;
  background: url("../images/v3_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 42px;
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 45px;
  overflow: hidden;
}
.v3_58 {
  width: 156px;
  height: 32px;
  background: url("../images/v3_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_59 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_60 {
  width: 25px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}
.v3_61 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 42px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_62 {
  width: 174px;
  height: 32px;
  background: url("../images/v3_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 198px;
  overflow: hidden;
}
.v3_63 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_64 {
  width: 21px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 5px;
}
.v3_65 {
  width: 132px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 42px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_66 {
  width: 182px;
  height: 32px;
  background: url("../images/v3_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 414px;
  overflow: hidden;
}
.v3_67 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_68 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v3_69 {
  width: 140px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 42px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v7_5 {
  width: 115px;
  height: 115px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 513px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v7_6 {
  width: 97px;
  height: 97px;
  background: url("../images/v7_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 9px;
  overflow: hidden;
}
.v7_7 {
  width: 347px;
  color: rgba(64,200,127,1);
  position: absolute;
  top: 196px;
  left: 60px;
  font-family: Rubik;
  font-weight: Bold;
  font-size: 86px;
  opacity: 1;
  text-align: left;
}
.v7_8 {
  width: 271px;
  height: 31px;
  background: url("../images/v7_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 98px;
  overflow: hidden;
}
.v7_9 {
  width: 88px;
  color: rgba(234,98,98,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Rubik;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: right;
}
.v7_10 {
  width: 170px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 101px;
  font-family: Rubik;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: right;
}
